.banner {
    background-color: #1F1F1F;
    overflow-x: hidden;
    position: relative;
}

.banner::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(3, 3, 3, 0.678);
    z-index: 1;
}

.text-banner {
    margin-top: 200px;
    max-width: 650px;
    position: absolute;
    z-index: 9; 
}

.text-banner h1 {
    font-size: 62px;
    line-height: 72px;
    text-transform: uppercase;
    color: var(--color-background);
}

.text-banner p {
    margin-bottom: 30px;
    color: var(--color-background);
    font-size: 24px;
}

.image img{
    width: 1300px;
}

.slider-img {
    display: none;
}

.slider-img-on {
    display: flex;
}

@media (max-width: 550px) {
    .banner {
        max-height: 100%;
    }
    .text-banner {
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;
    }
    .text-banner h1 {
        font-size: 32px;
        line-height: 42px;
    }
    
    .text-banner p {
        margin-bottom: 20px;
        color: var(--color-background);
        font-size: 18px;
    }

    .image img {
        width: 100%;
    }

    /* 
    .image img {
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
     } */
     
    
}