.blog-bg {
    background-color: var(--color-main);
}

.blog-introducao {
    max-width: 650px;
    margin: 40px 0px 20px 0px;
}

.blog-introducao h1 {
    font-size: 24px;
    color: var(--color-background);
    text-align: center;
    margin-bottom: 20px;
}

.blog-introducao h2 {
    font-size: 34px;
    color: var(--color-background);
    font-weight: bold;
}

.blog {
    max-width: 650px;
}

.blog h2 {
    font-weight: bold;
    color: var(--color-background);
    font-size: 20px;
    text-transform: uppercase;
}

.blog img {
    border-radius: 4px;
    margin: 8px 0;
}

.blog p {
    color: var(--color-main-secondary-1);
    line-height: 30px;
    font-size: 20px;
}

.blog li {
    margin-bottom: 24px;
}

.carregando { /* texto Js caso a api demore a carregar */
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

@media (max-width: 450px) {
    .blog-introducao {
        max-width: 300px;
        margin: 20px 0px 20px 0px;
    }

    .blog-introducao h1 {
        font-size: 24px;
        color: var(--color-background);
        text-align: center;
        text-transform: uppercase;
    }
    
    .blog-introducao h2 {
        font-size: 20px;
        font-weight: lighter;
        margin: 20px 0px 20px 0px;
        line-height: 30px;
    }

    .blog h2 {
        line-height: 30px;
    }
    
}