.calculadora-bg {
    background-color: var(--color-main);
    color: var(--color-background);
    padding: 140px 0px 140px 0px;
}

.calculadora-container {
    width: 500px;
    gap: 20px;
}

.calculadora-container h2 {
   text-align: center;
   font-size: 42px;
}

.calculadora-contaitaner-img i {
    font-size: 200px;
    margin-right: 100px;
    color: var(--color-main-secondary-1);
}

.divAltura, .divPeso, .divCalc {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculadora-container input, 
.calculadora-container button {
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.calculadora-container button {
    cursor: pointer;
    background-color: var(--color-main-secondary-1);
    color: var(--color-background);
    margin-top: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.calculadora-container button:hover {
    background-color: var(--color-details-secondary);
    transition: 0.3s ease-out;
    color: var(--color-main);
}

#resultado {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (max-width: 900px) {
    .calculadora-bg {
        padding: 40px 0px 40px 0px;
    }

    .calculadora-contaitaner-img i {
        margin: 10px;
    }
    
}

@media (max-width: 450px) {
    .calculadora-container input, 
    .calculadora-container button {
        font-size: 15px;
    }

    .calculadora-bg {
        padding: 10px 0px 10px 0px;
    }
    
    .calculadora-container {
        max-width: 300px;
        gap: 10px;
    }
    
    .calculadora-container h2 {
       font-size: 22px;
    }

    .calculadora-contaitaner-img i {
        font-size: 100px;
        margin: 10px;
    }
    
    .divAltura, .divPeso, .divCalc {
        width: auto;
        gap: 10px;
    }
    
    #resultado {
        width: auto;
        height: 50px;
        font-size: 15px;
        margin-top: 10px;
    }
}