.contact {
    background-color: var(--color-main-secondary);
    height: 100%;
    color: white;
}

.contact-title {
    padding: 80px 0px 160px 0px;
}

.contact-title h2 {
    color: var(--color-background);
    font-size: 54px;
}

.contact-title img {
    width: 60px;
    margin-left: 7px;
}

.contact-title p {
    color: var(--color-background);
    font-size: 24px;
    width: 500px;
}

.contact-info {
    position: relative;
    gap: 100px;
}

.barra {
    content: '';
    position: absolute;
    top: -90px;
    left: 0px;
    height: 2px;
    width: 100%;
    background-color: var(--color-main-secondary-1);
}

.contact-middle {
    gap: 10px;
}

.contact-middle p {
    font-size: 12px;
    color: var(--color-details-secondary);
    text-transform: uppercase; 
}

.contact-middle a {
    color: var(--color-background);
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-middle a:hover {
    color: var(--color-main-secondary-1);
}

.contact-middle h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.contact-middle h3 {
    text-transform: uppercase;
    font-size: 20px;
}

.contact-middle button {
    padding: 10px 92px;
}

.contact-local-containers {
    margin-bottom: 50px;
}

.contact-local-containers p {
    font-size: 12px;
    color: var(--color-details-secondary);
    text-transform: uppercase;
}

.contact-local-cotnainers h2 {
    font-size: 20px;
}

.contact-local-containers h3 {
    color: var(--color-details-secondary);
    font-size: 20px;
}






