.feedback-bg {
    padding: 140px 0px 140px 0px;
    background-color: var(--color-main);
    color: var(--color-background);
}

.feedback-title h2 {
    font-size: 40px;
    margin: 40px 0px 60px 0px;
    text-transform: uppercase;
}

.feedback-bg img {
    min-width: 200px;
    max-width: 350px;
    border-radius: 5px;
}

.feedback-bg i {
    color: var(--color-background);
}

.texto-depoimento h2 {
    max-width: 420px;
    margin: 0px 0px 0px 30px;
    font-size: 20px;
}

.texto-depoimento i {
    color: var(--color-main-secondary-1);
    font-size: 20px;
}

.texto-depoimento i:last-child {
    margin-left: 440px;
}

.container-cliente {
    margin: 0px 0px 0px 30px;
}

.container-cliente p {
    color: var(--color-main-secondary-1);
    font-weight: bolder;
    font-size: 20px;
}

.nota-depoimento i {
    color: var(--color-background);
}

.next-banck {
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
    transition: transform 0.9s ease-in-out;

}

.next-banck:hover {
    transform: scale(1.20);
}

 
.slider {
    display: none;
}

.slider.on {
    display: flex;
    justify-content: center;
    align-items: center;
} 


