.feedback-bg {
    padding: 140px 0px 140px 0px;
    background-color: var(--color-main);
    color: var(--color-background);
}

.feedback-title h2 {
    font-size: 42px;
    margin: 40px 0px 60px 0px;
    text-transform: uppercase;
}

.feedback-bg img {
    max-width: 350px;
    border-radius: 5px;
}

.feedback-bg i {
    color: var(--color-background);
}

.texto-depoimento h3 {
    max-width: 420px;
    margin: 0px 0px 0px 30px;
    font-size: 20px;
}

.texto-depoimento i {
    color: var(--color-main-secondary-1);
    font-size: 20px;
}

.texto-depoimento i:last-child {
    margin-left: 440px;
}

.container-cliente {
    margin: 0px 0px 0px 30px;
}

.container-cliente p {
    color: var(--color-details-secondary);
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

.nota-depoimento i {
    color: var(--color-background);
}

.next-banck {
    cursor: pointer;
    padding: 10px;              
    font-size: 40px;
    transition: transform 0.9s ease-in-out;
}

.next-banck:hover {
    transform: scale(1.20);
}

.number-coment p {
    width: 30px;
    height: 30px;
    background-color: var(--color-main-secondary);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 50px;
}

.slider {
    display: none;
}

.slider.on {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@media (max-width: 450px) {
    .container-cometario {
        max-width: 210px;
    }

    .feedback-title h2 {
        font-size: 28px;
        margin: 0px 5px 0px 5px;
        text-align: center;
       
    }

    .feedback-bg img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0px 0px 30px 0px;
    }

    .texto-depoimento h3 {
        width: 190px;
        height: 180px;
        line-height: 30px;
        margin: 0px 0px 0px 30px;
        font-size: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical; 
        overflow-y: auto;
        text-overflow: ellipsis;
    }
    .texto-depoimento h3::-webkit-scrollbar-button {
        background: white;
    }
    
    .texto-depoimento h3::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 5px;
    }
    
    .texto-depoimento h3::-webkit-scrollbar {
        width: 4px;
        height: 2px;
        background-color: #2e2e2e; 
        border: 1px solid white;
    }

    .texto-depoimento i:last-child {
        margin-left: 100%;
    }

    .container-cliente {
        margin: 30px 0px 0px 0px;
    }
    
    .container-cliente p {
        color: var(--color-details-secondary);
        font-weight: bolder;
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .next-banck {
        padding: 10px;              
        font-size: 20px;
        margin: 5px;
    }

    .number-coment p {
        width: 20px;
        height: 20px;
        background-color: var(--color-main-secondary);
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin-left: 10px;
    }
    
}

