.footer-bg {
    background-color: var(--color-main);
    padding: 20px;
}

.copyright p, 
.copyright a {
    color: var(--color-details-secondary);
    
}

.copyright a:hover {
    color: var(--color-background);
    transition: all 0.3s ease;
}

.footer-redes-sociais {
    color: var(--color-background);
}

.footer-redes-sociais i {
    font-size: 16px;
}

.footer-redes-sociais ul {
    gap: 20px;
}

.footer-redes-sociais li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-main-secondary-1);
    transition: all 0.3s ease;
}
.footer-redes-sociais li:hover {
    margin: 5px;
    cursor: pointer;
    background-color: var(--color-main-secondary);
}

.footer-bg p, 
.footer-bg ul {
    margin: 0px;
}

.footer-termos {
    gap: 10px;
}

.footer-termos p {
    color: var(--color-details-secondary);
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease;
}

.footer-termos p:hover {
    color: var(--color-background);
}

@media (max-width: 900px) {
    .footer-redes-sociais i {
        font-size: 20px;
    }
    
    .footer-redes-sociais ul {
        gap: 10px;
        margin: 0px 0px 20px 0px;
    }

    .footer-termos {
        gap: 10px;
    }

    .footer-termos p {
        text-align: center;
        font-size: 20px;
    }

    .copyright p, 
    .copyright a {
        margin: 10px 0px 10px 0px;
    }
}


@media (max-width: 450px) {
    .footer-redes-sociais i {
        font-size: 16px;
    }
    
    .footer-redes-sociais ul {
        gap: 10px;
        margin: 0px 0px 10px 0px;
    }

    .footer-termos {
        gap: 10px;
    }

    .footer-termos p {
        text-align: center;
        font-size: 16px;
    }

    .copyright p, 
    .copyright a {
        margin: 10px 0px 10px 0px;
    }
}

