header {
    width: 100%;
    background-color: var(--color-main);
}

.container-lg-header{
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-lg-header img {
    max-width: 50px;
    margin-left: 7px;
}

.navbar-brand b {
    color: var(--color-background);
    font-family:  Arial, Helvetica, sans-serif;
}

.navbar-nav {
    gap: 20px;
}

.nav-link {
    color: var(--color-background) !important;
}


.btn-icon .icon{
    display: inline-block;
    color: var(--color-background);
    position: absolute;
    right: 70px;
    margin-top: -20px;
    padding-top: 10px;
}

/* responsivo */
@media (max-width: 900px) {
    .navbar-toggler-icon {
        color: white;
    }

    .navbar-brand h1 {
        font-size: 35px;
    }
    .container-lg-header img {
        max-width: 35px;
    }
}

@media (max-width: 450px) {
    .navbar-brand h1 {
        font-size: 30px;
    }
    .container-lg-header img {
        max-width: 30px;
    }
}








