.services {
    background-color: var(--color-main);
}

.services-text {
    max-width: 600px;
    text-align: center;
    padding: 0px 0px 80px 0px;
}

.services-text h2 {
    color: var(--color-background);
    font-size: 3rem;
}

.services-text p {
    color: var(--color-details-secondary);
}

.container-services {
    gap: 80px;
}

.card {
    border: none;
    background-color: transparent !important;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background-color: var(--color-details);
}

.card img {
    width: 350px;
    height: 500px;
}

.Tipo-de-treino {
    color: var(--color-background);
}

.card h5 {
    color: var(--color-background);
}

.banner-g {
    padding-top: 80px;
    overflow-x: hidden;
}

.container-banner-services {
    padding-left: 0px;
    padding-right: 0px;
}







