.services {
    background-color: var(--color-main);
}

.services-text {
    max-width: 800px;
    text-align: center;
    padding: 0px 0px 80px 0px;
}

.services-text h2 {
    color: var(--color-background);
    font-size: 62px;
}

.services-text p {
    color: var(--color-details-secondary);
    font-size: 24px;
}

.container-services {
    gap: 80px;
}

.card {
    border: none;
    background-color: transparent !important;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background-color: var(--color-details);
}

.card img {
    max-width: 350px;
}

.card p {
    color: var(--color-details-secondary);
}

.card h3 {
    color: var(--color-background);
}

.structures-text {
    width: 900px;
    margin: 100px 0px 0px 0px;
}

.structures-text h2 {
    color: var(--color-background);
    font-size: 42px;
    text-transform: uppercase;
}

.structures-text p {
    color: var(--color-details-secondary);
    font-size: 24px;
}

.structures-container {
    gap: 20px;
}

.structures {
    margin: 100px 0px 100px 0px;
}

.structures-card, 
.structures-card img {
    max-width: 600px;
}

.structures p {
    color: var(--color-details-secondary);
    text-transform: uppercase;
}

.structures h3 {
    color: var(--color-background);
    font-size: 20px;
}

.structures, .card-body {
    padding: 1.25rem 1.25rem 1.25rem 0rem;
}

.structures-card {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.structures-card:hover {
    transform: scale(1.05);
}


.structures-icons {
    width: 38px;
    max-height: 38px;
    border-radius: 19px;
    background-color: var(--color-background);
    transition: .3s ease-out;
    overflow: hidden;
    flex-wrap: wrap;
}


/* Adiciona classe na ul através do Js*/
.structures-icons-active {
    max-height: 150px;
}

.structures-icons li {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main);
    font-size: 14px;
}

.structures-icons {
    position: absolute;
    top: 30px;
    right: 30px;
}

.structures-card {
    position: relative;
}

.structures-effect {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0px;
    height: 2px;
    width: 100%;
    background-color: var(--color-main-secondary-1);
}

/* Modelos */

.banner-g {
    padding-top: 80px 0px !important;
    overflow-x: hidden;
}

.banner-g div {
    padding: 0px;
}

@media (max-width: 450px) {
    .services-text {
        max-width: 800px;
        text-align: center;
        padding: 0px 0px 80px 0px;
    }
    
    .services-text h2 {
        font-size: 42px;
    }

    .services-text p {
        font-size: 18px;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .card img {
        max-width: 250px;
    }
    
    
}







