.sponsors {
    background-color: var(--color-background-secondary);
}
.sponsors img {
    filter: grayscale(100%);
    transition: all 300ms ease;
    opacity: 0.5;
    display: inline-block;
    cursor: pointer;
}

.sponsors img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
